/*
 /////////////////////////////////
 //////logo linework styles///////
 /////////////////////////////////
								  */	

	/*//shared presets//*/
	
		.logo__linefront{
			stroke-width: 1;
			opacity: .6;
		}
		.logo__linemiddle{
			stroke-width: 1;
			opacity: .3;
		}
		.logo__linebottom{
			stroke-width: 1;
			opacity: .3;
		}
		.logo__line{
			opacity: .6;
			stroke-width: 1 ;
		}
		#linework {
			opacity:1;
		}
/*
 /////////////////////////////////
 ///////////transitions///////////
 /////////////////////////////////
								  */		
	.logo__line{
		transition: opacity 0.4s ease-in;
		-ms-transition: opacity 0.4s ease-in;-moz-transition: opacity 0.4s ease-in;
		-webkit-transition: opacity 0.4s ease-in;
		transition: stroke 0.3s ease-in;
		-ms-transition: stroke 0.3s ease-in;-moz-transition: stroke 0.3s ease-in;
		-webkit-transition: stroke 0.3s ease-in;
	}	

	/*//color presets//*/
	
		.logo__line.purple, .logo__linefront.purple, .logo__linemiddle.purple, .logo__linebottom.purple, .compassline.purple{
			fill: none;
			stroke: #A745BF;
		}
		
		.logo__line.green, .logo__linefront.green, .logo__linemiddle.green, .logo__linebottom.green, .compassline.green{
			fill:none;
			stroke:#52BC46;
		}
		.logo__line.white, .logo__linefront.white, .logo__linemiddle.white, .logo__linebottom.white, .compassline.white{
			fill: none;
			/*stroke: #9ea3a9 !important;*/
			stroke: #52BC46;
		}
		.compassline{
			stroke-width: .7;
		}
	
	/*//positional presets//*/
		.logo__line.green{
			stroke-dasharray: 20,15;
			stroke-dashoffset: 15;
		}
		.logo__linefront.green{
			stroke-dasharray: 20,15;
		}
		.logo__linemiddle.green{
			stroke-dasharray: 15,10;
			stroke-dashoffset: 23;
		}
		.logo__linebottom.green{
			stroke-dasharray: 15,10;
			stroke-dashoffset: 27;
		}
		
		
		.logo__line.purple{
			stroke-dasharray: 17,8;
			stroke-dashoffset: 13;
		}
		.logo__linefront.purple{
			stroke-dasharray: 19,6;
		}
		.logo__linemiddle.purple{
			stroke-dasharray: 26,8;
			stroke-dashoffset: 7;
		}
		.logo__linebottom.purple{
			stroke-dasharray: 26,12;
			stroke-dashoffset: 14;
		}


		.logo__line.white{
			stroke-dasharray: 17,8;
			stroke-dashoffset: 13;
		}
		.logo__linefront.white{
			stroke-dasharray: 22,9;
		}
		.logo__linemiddle.white{
			stroke-dasharray: 12,10;
			stroke-dashoffset: 8;
		}
		.logo__linebottom.white{
			stroke-dasharray: 20,12;
			stroke-dashoffset: 11;
		}	
	
			/*//he who must not be named//*/
		.logocolor.white{
			fill: #52BC46;
			/*fill: #ffffff;*/
			opacity: .3;
		}
		.logocolor.green{
			fill: #52BC46;
			opacity: .3;
		}
		.logocolor.purple{
			fill: #A745BF;
			opacity: .3;
		}

/*
 /////////////////////////////////
 ///////////transitions///////////
 /////////////////////////////////
								  */
								  
								  
	.logo__line, .logo__linefront, .logo__linemiddle, .logo__linebottom{
		transition: stroke-dasharray 0.4s ease-in;-ms-transition: stroke-dasharray 0.4s ease-in;-moz-transition: stroke-dasharray 0.4s ease-in;-webkit-transition: stroke-dasharray 0.4s ease-in;
		transition: stroke-dashoffset 0.3s ease-in;-ms-transition: stroke-dashoffset 0.3s ease-in;-moz-transition: stroke-dashoffset 0.3s ease-in;-webkit-transition: stroke-dashoffset 0.3s ease-in;
	}	