/*
 /////////////////////////////////
 ///////////transitions///////////
 /////////////////////////////////
								  */

	.logo__rythm {
		transition: stop-color 0.4s ease-in;
	}

	/*//the heartbeat//*/

		.logo__rythm.center.white{
			/*stop-color:#FFFFFF;	*/
			stop-color:#52BC46;
		}
		.logo__rythm.midway.white{
			/*stop-color:#FFFFFF;*/
			stop-color:#52BC46;
			stop-opacity: .3;
		}
		.logo__rythm.outside.white{
			/*stop-color:#FFFFFF;*/
			stop-color:#52BC46;
			stop-opacity: .2;
		}
		.logo__rythm.center.green{
			stop-color:#52BC46;
			stop-opacity: .2;
		}
		.logo__rythm.midway.green{
			stop-color:#52BC46;
			stop-opacity: .3;
		}
		.logo__rythm.outside.green{
			stop-color:#52BC46;
			stop-opacity: .2;
		}
		.logo__rythm.outside.purple{
			stop-color:#A745BF;
			stop-opacity: .2;
		}
		.logo__rythm.midway.purple{
			stop-color:#A745BF;
			stop-opacity: .3;
		}
		.logo__rythm.center.purple{
			stop-color:#A745BF;
			stop-opacity: .2;
		}


/*
 /////////////////////////////////
 ////main animation references////
 /////////////////////////////////
								  */
	/*//white styles//*/

		/*//logo gradient//*/

		.logo__rythm.center.white, .logo__rythm.center.green, .logo__rythm.center.purple  {
			animation:logo__rythm_center 4s linear infinite;
		}
		.logo__rythm.midway.white, .logo__rythm.midway.green, .logo__rythm.midway.purple  {
			animation:logo__rythm_midway 4s linear infinite;
		}
		.logo__rythm.outside.white, .logo__rythm.outside.green, .logo__rythm.outside.purple  {
			animation:rythm_outside 4s linear infinite;
		}

		/*//logo gradients//*/

		.rythm.midway.white, .rythm.midway.green, .rythm.midway.purple{
			animation-delay:.3s;
		}
		.compass.midway.white, .compass.midway.green, .compass.midway.purple{
			animation-delay:.5s;
		}
		.arrow.midway.white, .arrow.midway.green, .arrow.midway.purple{
			animation-delay:.5s;
		}


		.rythm.outside.white, .rythm.outside.green, .rythm.outside.purple{
			animation-delay:.6s;
		}
		.compass.outside.white, .compass.outside.green, .compass.outside.purple{
			animation-delay:1s;
		}
		.arrow.outside.white, .arrow.outside.green, .arrow.outside.purple{
			animation-delay:1s;
		}


		/*//logo gradient//*/

		@keyframes rythm_center {
			0%,100%   {stop-opacity: 0.5;} 88%  {stop-opacity: 0.5;} 90%  {stop-opacity: .15;} 91%   {stop-opacity: .1;} 94%   {stop-opacity: .15;} 96%  {stop-opacity: .5;}
		}
		@-moz-keyframes rythm_center {
			0%,100%   {stop-opacity: 0.5;} 88%  {stop-opacity: 0.5;} 90%  {stop-opacity: .15;} 91%   {stop-opacity: .1;} 94%   {stop-opacity: .15;} 96%  {stop-opacity: .5;}
		}
		@-webkit-keyframes rythm_center{
			0%,100%   {stop-opacity: 0.5;} 88%  {stop-opacity: 0.5;} 90%  {stop-opacity: .15;} 91%   {stop-opacity: .1;} 94%   {stop-opacity: .15;} 96%  {stop-opacity: .5;}
		}
		@-o-keyframes rythm_center {
			0%,100%   {stop-opacity: 0.5;} 88%  {stop-opacity: 0.5;} 90%  {stop-opacity: .15;} 91%   {stop-opacity: .1;} 94%   {stop-opacity: .15;} 96%  {stop-opacity: .5;}
		}

		@keyframes rythm_midway {
			0%,100%   {stop-opacity: .15;} 88%  {stop-opacity: .15;} 90%  {stop-opacity: .2;} 91%   {stop-opacity: .15;} 94%   {stop-opacity: .2;} 96%  {stop-opacity: .15;}
		}
		@-moz-keyframes rythm_midway {
			0%,100%   {stop-opacity: .15;} 88%  {stop-opacity: .15;} 90%  {stop-opacity: .2;} 91%   {stop-opacity: .15;} 94%   {stop-opacity: .2;} 96%  {stop-opacity: .15;}
		}
		@-webkit-keyframes rythm_midway{
			0%,100%   {stop-opacity: .15;} 88%  {stop-opacity: .15;} 90%  {stop-opacity: .2;} 91%   {stop-opacity: .15;} 94%   {stop-opacity: .2;} 96%  {stop-opacity: .15;}
		}
		@-o-keyframes rythm_midway {
			0%,100%   {stop-opacity: .15;} 88%  {stop-opacity: .15;} 90%  {stop-opacity: .2;} 91%   {stop-opacity: .15;} 94%   {stop-opacity: .2;} 96%  {stop-opacity: .15;}
		}

		@keyframes rythm_outside {
			0%,100%   {stop-opacity: .15;} 88%  {stop-opacity: .15;} 90%  {stop-opacity: .25;} 91%   {stop-opacity: .15;} 94%   {stop-opacity: .2;} 96%  {stop-opacity: .15;}
		}
		@-moz-keyframes rythm_outside {
			0%,100%   {stop-opacity: .15;} 88%  {stop-opacity: .15;} 90%  {stop-opacity: .25;} 91%   {stop-opacity: .15;} 94%   {stop-opacity: .2;} 96%  {stop-opacity: .15;}
		}
		@-webkit-keyframes rythm_outside{
			0%,100%   {stop-opacity: .15;} 88%  {stop-opacity: .15;} 90%  {stop-opacity: .25;} 91%   {stop-opacity: .15;} 94%   {stop-opacity: .2;} 96%  {stop-opacity: .15;}
		}
		@-o-keyframes rythm_outside {
			0%,100%   {stop-opacity: .15;} 88%  {stop-opacity: .15;} 90%  {stop-opacity: .25;} 91%   {stop-opacity: .15;} 94%   {stop-opacity: .2;} 96%  {stop-opacity: .15;}
		}

